@model List<PlaneViewModel>;
<table class="table table-hover">
    <thead>
        <tr>
            @if(Model.Count > 0)
            {
                <th>Name</th>
                <th>Cabin</th>
                <th>Passengers</th>
            }
            else
            {
                <th>No Records To Display</th>
            }
            <th> 
                <button id="AddNew" class="btn btn-warning btn-xs" onclick='Modal("@Url.Action("AddEdit","Plane")");'>Add New</button>
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Cabin</td>
                <td>@item.MaxPassengerCount</td>
                <td id="@item.Id" colspan='2' onclick='Modal("@Url.Action("AddEdit","Plane",new{id=item.Id})");'><a class="edit"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
        }
    </tbody>
</table>