@model HomeViewModel;
@if (Model.ErrorMessage != null)
{
    <script>
        $(function() {
            DisplayMessage('@Model.ErrorMessage');
        });
    </script>
    Model.ErrorMessage = null;
}

<div class="thread">
    <h1>News Broadcasts</h1>
    [<a>view all</a>]
</div>

<div class="thread">
    <h1>Job Postings</h1>
    [<a>view all</a>]
</div>

<div class="thread">
    <h1>Run Archive</h1>
    [<a>view all</a>]
</div>

<div class="thread">
    <h1>User Threads</h1>
    [<a>view all</a>]
    @foreach (var thread in Model.UserThreads)
    {
        <div class="post" onclick="location.href='@thread.Url';">
            <span class="message-body">
                @thread.Body.Substring(0, 200)
            </span>
            <div class="message-signature @thread.CSS ">
                @thread.Author <span class=time-stamp>@thread.PostDate.AddYears(60)</span>
            </div>
        </div>
    }
</div>