@model HomeViewModel;
@if(Model.ErrorMessage != null)
{
    <script>
        $(function() {
            DisplayMessage('@Model.ErrorMessage');
        });
    </script>
    Model.ErrorMessage = null;
}  

<div class="thread">
    <h1>Latest News Broadcasts</h1>
    [<a>view all</a>]
    @for(var i = 0; i < 3; i++)
    {
        <div class="post">
            <span class="message-body">
                Here you will find a forum that you can use to set up runs with fixers, post success stories, or just ask questions.
            </span>
            <div class="message-signature">
                -- Fastjack <span class=time-stamp>| @DateTime.Now.AddYears(60)</span>
            </div>
        </div>
    }
</div>

<div class="thread">
    <h1>Fixer Job Postings</h1>
    [<a>view all</a>]
    @for(var i = 0; i < 3; i++)
    {
        <div class="post">
            <span class="message-body">
                Here you will find a forum that you can use to set up runs with fixers, post success stories, or just ask questions.
            </span>
            <div class="message-signature">
                -- Fastjack <span class=time-stamp>| @DateTime.Now.AddYears(60)</span>
            </div>
        </div>
    }
</div>

<div class="thread">
    <h1>Run Transcript Archive</h1>
    [<a>view all</a>]
    @for(var i = 0; i < 3; i++)
    {
        <div class="post">
            <span class="message-body">
                Here you will find a forum that you can use to set up runs with fixers, post success stories, or just ask questions.
            </span>
            <div class="message-signature">
                -- Fastjack <span class=time-stamp>| @DateTime.Now.AddYears(60)</span>
            </div>
        </div>
    }
</div>

<div class="thread">
    <h1>Latest User Threads</h1>
    [<a>view all</a>]
    @for(var i = 0; i < 5; i++)
    {
        <div class="post">
            <span class="message-body">
                Here you will find a forum that you can use to set up runs with fixers, post success stories, or just ask questions.
            </span>
            <div class="message-signature">
                -- Fastjack <span class=time-stamp>| @DateTime.Now.AddYears(60)</span>
            </div>
        </div>
    }
</div>