@model HomeViewModel;
@if (Model.ErrorMessage != null)
{
    <script>
        $(function() {
            DisplayMessage('@Model.ErrorMessage');
        });
    </script>
    Model.ErrorMessage = null;
}

<h2>News Stories</h2>
<br />
<a href="#">view all</a>
<br />
@for (var i = 0; i < 3; i++)
{
    <div class="card" style="width: 22rem; display:inline-block; margin: 10px 10px 0 0;">
        <div class="card-block">
            <h3 class="card-title" style="text-align:center;"><i style="font-size:50px;" class="glyphicon glyphicon-file"></i></h3>
            <h5 class="card-subtitle text-muted" style="font-weight:normal">Author</h5>
            <hr/>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
}
<br />

<h2>User Threads</h2>
<br />
<a href="/Forum/List/1">view all</a>
@foreach (var thread in Model.UserThreads)
{
    <article>
        <div class="thread-metadata text-muted">
            <span style="@thread.Style">@thread.Author</span> -
            <span>@thread.PostDate.AddYears(60).ToString("MMMM dd, yyyy hh:mm tt")</span>
        </div>
        <div style="text-align:justify;">
            <h3 class="message-head" onclick=""><a href="@thread.Url">@thread.Title</a></h3>
            <span class="message-body">@thread.Body</span>
        </div>
    </article>
}