@model ThreadViewModel

<div class="thread">
    <div class="post">
        <span class="message-body">
            @Model.Body
        </span>
    </div>
    @foreach (var post in Model.Posts)
    {
        var onClick = "";
        if (ViewBag.UserName == post.Author)
        {
            onClick = "Modal('" + @Url.Action("EditPost", "Forum", new { Id = post.Id }) + "')";
        }
        <div class="post" id="@post.Id" onclick="@onClick">
            <span class="message-body">
                @post.Body
            </span>
            <div class="message-signature">
                <span class="@Model.CSS">-- @Model.Author</span><span class="time-stamp">@post.PostDate.AddYears(60)</span>
            </div>
        </div>
    }
</div>