@model ThreadViewModel

<div class="thread fade-in">
    <article>
        <div class="thread-metadata text-muted">
            <span style="@Model.Style">@Model.Author</span> -
            <span>@Model.PostDate.AddYears(60).ToString("MMMM dd, yyyy hh:mm tt")</span>
            @if (Model.Edited)
            {
                <span> - </span>
                <i>Edited</i>
            }
            @if (ViewBag.LoggedIn)
            {
                <span> - </span>
                <span>
                    <a href="#" onclick='Modal("@Url.Action("AddPost","Forum", new { Id = Model.publicId })")'>Reply</a>
                </span>
                @if (ViewBag.Username == Model.Author)
                {
                    <span> - </span>
                    <span>
                        <a href="#" onclick='Modal("@Url.Action("AddEditThread","Forum",new { Id = Model.publicId })");'>Edit</a>
                    </span>
                }
            }
        </div>
        <div style="text-align:justify;">
            <h2 style="margin-top:10px;" class="message-head">@Model.Title</h2><br />
            <span class="message-body">@Model.Body</span>
        </div>
    </article>

    @foreach (var item in Model.Posts.OrderBy(i=>i.PostDate))
    {
        <article>
            <div class="thread-metadata text-muted">
                <span style="@item.Style">@item.Author</span> -
                <span>@item.PostDate.AddYears(60).ToString("MMMM dd, yyyy hh:mm tt")</span>
                @if (item.Edited)
                {
                    <span> - </span>
                    <i>Edited</i>
                }
                @if(ViewBag.LoggedIn)
                {
                    @if (ViewBag.Username == Model.Author)
                    {
                        <span> - </span>
                        <span>
                            <a href="#" onclick='Modal("@Url.Action("EditPost","Forum", new { publicId = item.publicId })");'>Edit</a>
                        </span>
                    }
                }
            </div>
            <div style="text-align:justify;">
                <span class="message-body">@item.Body</span>
            </div>
        </article>
    }

    <script>
        $(function () {
            $(".thread .message-body").each(function () {
                var text = $(this).html()
                //TODO: Replace some characters here.
                $(this).html(converter.makeHtml(text));
            });

            $(".thread .message-body img").each(function () {
                $(this).wrap("<div class='img'></div>");
            });
        });
    </script>
</div>