@model ThreadViewModel

<div class="thread">
    <article>
        <div class="thread-metadata text-muted">
            <span style="@Model.Style">@Model.Author</span> -
            <span>@Model.PostDate.ToString("MMMM dd, yyyy")</span>
        </div>
        <div style="text-align:justify;">
            <h2 style="margin-top:10px;" class="message-head">@Model.Title</h2><br />
            <span class="message-body">@Model.Body</span>
        </div>
    </article>
    @foreach (var item in Model.Posts)
    {
        <article>
            <div class="thread-metadata text-muted">
                <span style="@item.Style">@item.Author</span> -
                <span>@item.PostDate.ToString("MMMM dd, yyyy")</span>
            </div>
            <div style="text-align:justify;">
                <span class="message-body">@item.Body</span>
            </div>
        </article>
    }
    <script>
        $(function () {
            $(".thread .message-body").each(function () {
                var text = $(this).html()
                $(this).html(converter.makeHtml(text));
            });
        });
    </script>
</div>