@model UserViewModel;

<div class="modal-header">
    <span type="button" class="close" data-dismiss="modal">&times;</span>
    <h4 class="modal-title">User Settings</h4>
</div>
<div class="modal-body">
    <div class="col-sm-6">
        <div class="form-group">
            <input id="UserName" class="form-control" name="UserName" placeholder="Name" value="@Model.UserName" autocomplete="off">
        </div>
        <div class="form-group">
            <input id="Email" type="email" class="form-control" name="Email" placeholder="Eamil" value="@Model.Email" autocomplete="off">
        </div>
        <div class="form-group">
            <select asp-for="GroupId" asp-items="Model.GroupOptions" class="form-control"></select>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <input asp-for="Authenticated" type="checkbox" id="Authenticated" class="form-control"> Authenticated
        </div>
        <div class="form-group">
            <input asp-for="Banned" type="checkbox" id="Banned" class="form-control"> Banned
        </div>
        <div class="form-group">
            <input asp-for="Dead" type="checkbox" id="Dead" class="form-control"> Dead
        </div>
    </div>
    <div>
        <div class="form-group" style="padding:15px;margin-bottom:0;">
            <input id="Passphrase" class="form-control" name="Passphrase" placeholder="Passphrase" autocomplete="off">
        </div>
    </div>
</div>
<div class="modal-footer">
    <span id="delete" class="btn btn-danger">Delete</span>
    <span id="save" class="btn btn-primary">Save</span>
</div>
<script>
    $(function () {
        VerifyDelete('delete', '@Url.Action("Delete", "User")', '@Model.Id.ToString()');
        BindModalValidation("AddEditUser", ["UserName", "Email"], "save", function() {
            var action = '@Url.Action("AddEdit", "User")';
            var tag = '@Model.Id.ToString()';
            var model = {
                UserName : $('#UserName').val(),
                Email : $('#Email').val(),
                GroupId : $("#GroupId").val(),
                Passphrase : $('#Passphrase').val(),
                Authenticated : $("#Authenticated").is(":checked"),
                Banned : $("#Banned").is(":checked"),
                Dead : $("#Dead").is(":checked")
            };
            Submit(action, model, tag);
        });
    });
</script>