@model UserListViewModel;

<h1>Users</h1>
[<a onclick='Modal("@Url.Action("AddEdit","User")")'>Add New</a>]
<div id="navigation" class="page-navigation"></div>
<table class="table">
    <thead>
        <tr>
            @if (Model.list.Count > 0)
            {
                <th>Name</th>
                <th>Email</th>
                <th>Group</th>
                <th>Auth</th>
                <th>Banned</th>
                <th>Dead</th>
            }
            else
            {
                <th>There are no records to display</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.list)
        {
            var css = item.GroupName == "Admin" ? "admin-color" : "";
            <tr id="@item.Id" onclick='Modal("@Url.Action("AddEdit","User", new{Id=item.Id})")'>
                <td class='@css'>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.GroupName</td>
                <td>@item.Authenticated</td>
                <td>@item.Banned</td>
                <td>@item.Dead</td>
            </tr>
        }
        <tr id="0" style="display: none;"></tr>
    </tbody>
</table>
<script>
    $(function () {
        RenderPageNavigation('/user/index', @Model.page, 'navigation');
    });
</script>