<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="\Images\Logo.png" />
    <title>JackPoint</title>

    <link rel="stylesheet" href="~/css/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/forum.css" />
    <link rel="stylesheet" href="~/css/table.css" />
    <link rel="stylesheet" href="~/css/modal.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />

    <script src="~/js/lib/jquery.min.js"></script>
    <script src="~/js/lib/jquery-ui.min.js"></script>
    <script src="~/js/lib/bootstrap.min.js"></script>
    <script src="~/js/lib/showdown.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/Modal.js"></script>
    <script src="~/js/Validation.js"></script>
    <script src="~/js/Sidebar.js"></script>
</head>
<body>
    <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content"></div>
        </div>
    </div>
    <div id="message" class="message comment">
        <span class='message-body'>Welcome back to JackPoint, Omae.</span>
        <div class='message-signature' style="color:#ff0"> FastJack</div>
    </div>
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">JackPoint</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Forum" asp-action="List">Forum</a></li>
                    </ul>
                    <ul class="nav navbar-nav right">
                        @if (ViewBag.LoggedIn)
                        {
                            if (ViewBag.Admin)
                            {
                                <li><a asp-area="" asp-controller="User" asp-action="Index">Users</a></li>
                            }
                            <li><a id="userLabel" onclick='Modal("@Url.Action("Update","Account")");'>@ViewBag.UserName</a></li>
                            <li><a asp-area="" asp-controller="Account" asp-action="LogOut">Logout</a></li>
                        }
                        else
                        {
                            <li><a id="userLabel" onclick='Modal("@Url.Action("LogIn","Account")");'>Log In</a></li>
                            <li><a asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        <div class="col-md-8">
            @RenderBody()

        </div>
        <div class="col-md-4 side-bar">
            <div class="biometrics hide-when-small">
                <h3>Biometrics:</h3>
                <hr />
                <p><span style="color:#aaa;">...Connected:</span> @ViewBag.DateConnected</p>
                <p><span style="color:#aaa;">...Privilege:</span> @ViewBag.Privilege</p>
                <p><span style="color:#aaa;">....Identity:</span> @ViewBag.UserName</p>
                <p><span style="color:#aaa;">......Status:</span> @ViewBag.Status</p>
                <hr />
            </div>

            @if (ViewBag.LoggedIn)
            {
                <div class="control">
                    <button id="new-thread" class="btn btn-primary" onclick='Modal("@Url.Action("AddEditThread","Forum")");'>New Thread</button>
                    <hr />
                </div>
            }

            <div class="hide-when-small">
                <h3>Posting rules:</h3>
                <ol>
                    <li>Try to keep the posts on topic.</li>
                    <li>No doxing, harrasing, or generally offensive content.</li>
                    <li>Your account must be 1 week old to post responses.</li>
                    <li>Get a good reputation and you will be able to post longer articles </li>
                    <li>If you impress the admins they will let you ShadowTalk.</li>
                </ol>
            </div>
        </div>
        <div class="col-md-12">
            <div class="text-center">
                <img src="\Images\shadowrun-logo.svg" class="header-image navbar-brand" style="float:initial;" /><br />
            </div>
            <div class="comment">
                <span class='message-body text-muted'>
                    The Topps Company, Inc. has sole ownership of the names, logo, artwork, marks, photographs, sounds, audio, video and/or any proprietary material used in connection with the game Shadowrun.
                    The Topps Company, Inc. has granted permission to JackPoint to use such names, logos, artwork, marks and/or any proprietary materials for promotional and informational purposes on its website but does not endorse, and is not affiliated with JackPoint in any official capacity whatsoever.
                </span>
                <div class="message-signature text-muted">
                    &copy;@(DateTime.Now.Year + 60) - JackPoint
                </div>
            </div>
        </div>
    </div>
</body>
</html>
