@model List<CarViewModel>;

<table>
    <tbody>
        <tr>
            @if(Model.Count > 0)
            {
                <th>Make</th>
                <th>Model</th>
            }
            else
            {
                <th>No Records To Display</th>
            }
            <th> 
                <span id="AddNew" onclick='Modal("@Url.Action("AddEdit","Car")");'>Add New</span>
            </th>
           
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Make</td>
                <td>@item.Type</td>
                <td id="@item.Id" colspan='2' onclick='Modal("@Url.Action("AddEdit","Car",new{id=item.Id})");'><a class="edit"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
        }
    </tbody>
</table>